<!--  details page -->

<h1><%= @place["name"] %> </h1>

<h3>Entries</h3>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entry/<%= entry["id"] %>">
        <%= entry["title"] %>
        </a>
         <%= entry["posted_on"] %>, <%= entry["description"] %>
      
    </li>
  <% end %>
</ul>


<p><a href="/entries/new?place_id=<%= @place['id'] %>">Add New Entry</a></p>


<!-- Link back to all places -->
<p><a href="/places">Back to All Places</a></p>
